description      = "testing"
cores            = 2
sockets          = 1
cpu_type         = "host"
scsihw           = "virtio-scsi-pci"
boot_disk        = "scsi0"
storage_location = "local-lvm"
ciuser           = "ubuntu"
cipassword       = "password"


vm_configs = {
  v1 = { node = "home-1", template_name = "h1-vm", os_type = "cloud-init", virtual_cpu = "1", memory = "4096", size = "25", vm_name = "test-vm-1", ip = "10.3.3.49", gw = "10.3.3.1", nameserver = "10.3.3.1" },
  v2 = { node = "home-1", template_name = "h1-vm", os_type = "cloud-init", virtual_cpu = "1", memory = "2048", size = "25", vm_name = "test-vm-2", ip = "10.3.3.50", gw = "10.3.3.1", nameserver = "10.3.3.1" },
  v3 = { node = "home-1", template_name = "h1-vm", os_type = "cloud-init", virtual_cpu = "1", memory = "2048", size = "25", vm_name = "test-vm-3", ip = "10.3.3.51", gw = "10.3.3.1", nameserver = "10.3.3.1" },
  v4 = { node = "home-2", template_name = "h2-vm", os_type = "cloud-init", virtual_cpu = "1", memory = "4096", size = "25", vm_name = "test-vm-4", ip = "10.3.3.52", gw = "10.3.3.1", nameserver = "10.3.3.1" },
  v5 = { node = "home-2", template_name = "h2-vm", os_type = "cloud-init", virtual_cpu = "1", memory = "2048", size = "25", vm_name = "test-vm-5", ip = "10.3.3.53", gw = "10.3.3.1", nameserver = "10.3.3.1" },
  v6 = { node = "home-2", template_name = "h2-vm", os_type = "cloud-init", virtual_cpu = "1", memory = "2048", size = "25", vm_name = "test-vm-6", ip = "10.3.3.54", gw = "10.3.3.1", nameserver = "10.3.3.1" },
}

